@import "tailwindcss"; /* */

/* The "Source" directive replaces the old "content" array. */
/* It tells Tailwind to scan your UI package for classes. */
@source "../../packages/ui-configs"; /* */
@source "./**/*.{js,ts,jsx,tsx,html}"; /* */